.booyah-box {
  box-shadow: 1px 1px 2px 0 #f3f3f3;
  background-color: #ffffff;
  border-radius: 3px;
  color: lighten(#091740, 10%);
  border: 1px solid lighten(#ccc, 10%);
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  width: 100%;
  text-align: center;

  h1 {
    color: #091740;
    margin-bottom: 15px;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
  }

  h2 {
    color: #091740;
    margin-bottom: 15px;
    font-family: 'Libre Baskerville', serif;
    font-size: 23px;
  }

  label {
    font-size: 15px;
  }
}

  blockquote {
    font-size: 15px;
  }
