@import "feathericon";

// @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat|Pacifico&display=swap');






h1, h2, h3, h4, h5, h5 {
  margin:0;
  padding:0;
}
body, html {
  height: 100%;
}


body {
//  background-image: image_url('background3.jpg');
background-color: #F6F6F8;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #091740;
}

.navbar .navbar-inverse {
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
}



//.navbar-inverse

.navbar-brand {
  //color: #17252A;
  color: #C60021;
  font-family: 'Pacifico', cursive;
  font-size:26px;
}

.navbar-inverse .navbar-nav .nav-link {
//  color: #17252A;
  color: #C60021;
  font-family: 'Pacifico', cursive;
  font-size:26px;
}


  .fe-smile-plus {
    color: #17252A;
    font-size: 20px;
  }

  .btn-primary {
    background-color: #2B7A78;
    border-color: darken(#2B7A78, 10%);

    &:hover, &:active {
        background-color: darken(#2B7A78, 15%);
    }
  }

.invalid-feedback {
color: #ff3333;
background-color: #FFEEEE;
border-radius: 3px;
padding-left: 2px 8px 2px 8px;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.photo-container {
  text-align: center;
}

img {
  display: inline-block;
}
