// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.enter-your-place-details {
  box-shadow: 1px 1px 2px 0 #f3f3f3;
  background-color: #ffffff;
  border-radius: 3px;
  color: lighten(#091740, 10%);
  border: 1px solid lighten(#ccc, 10%);
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  width: 100%;
  text-align: center;

  h1 {
    font-size: 30px;
    color: #091740;
    margin-bottom: 15px;
    font-family: 'Libre Baskerville', serif;
  }
}
